<a href="https://colab.research.google.com/github/PurpleBeetle/IA1900/blob/main/Tarea2/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np


# Ejercicio 1: An√°lisis de Ventas
# Utilice el archivo ventas.csv para responder lo siguiente:
#1. Cargue los datos en un DataFrame
ventas = pd.read_csv('ventas.csv')
ventas

       Producto  Cantidad  Precio_Unitario
0        Webcam        15               74
1       Monitor        19              866
2     Impresora        12              848
3        Webcam         3              530
4       Teclado         5              353
5   Silla Gamer        19              138
6     Impresora         7              657
7     Impresora         9              481
8        Webcam         7               72
9         Mouse        18              148
10      Teclado         4              508
11       Webcam        14              602
12      Teclado        18              401
13      Teclado         9              684
14  Silla Gamer         2              428
15    Impresora        15              298
16      Monitor         7              388
17  Silla Gamer        12              782
18  Silla Gamer         8              499
19      Teclado        15              240
20  Auriculares         3               50
21    Impresora        14               37
22        Mouse        17              144
23  Silla Gamer         4              210
24      Monitor        18              849
25  Auriculares         8              789
26  Auriculares         4              939
27        Mouse         2               42
28  Silla Gamer         6               57
29      Monitor        10              512
30    Impresora         4              416
31       Laptop        18              583
32      Monitor        12              737
33        Mouse         2              814
34  Auriculares        10              108
35    Impresora         4              693
36      Monitor        14              881
37       Laptop        16              735
38       Laptop        15              996
39      Teclado         8              556
40      Teclado        14              970
41       Webcam         8              748
42        Mouse        16              622
43  Silla Gamer        13              952
44      Monitor        18              471
45      Monitor        15              652
46  Silla Gamer        13              778
47       Webcam         9               14
48  Auriculares        15              227
49  Auriculares        13              512

In [3]:
#2. Calcule la cantidad total de productos vendidos por categor√≠a
ventas_por_categoria = ventas.groupby('Producto')['Cantidad'].sum()
ventas_por_categoria

# aqui sumamos la grupacion de productos por cantidad

Producto
Auriculares     53
Impresora       65
Laptop          49
Monitor        113
Mouse           55
Silla Gamer     77
Teclado         73
Webcam          56
Name: Cantidad, dtype: int64

In [6]:
#3. Determine cu√°l es el producto con el mayor total de ventas.

producto_top = ventas_por_categoria.idxmax()
producto_top

# Aqui usamos idxmax para el indice del df de ventas

'Monitor'

In [10]:
#4. Encuentre el precio promedio de los productos vendidos.
precio_promedio = ventas.groupby('Producto')['Precio_Unitario'].mean()
precio_promedio

# se una mean() para conseguir el promedio de ventas por las agrupaciones de producto

Producto
Auriculares    437.500000
Impresora      490.000000
Laptop         771.333333
Monitor        669.500000
Mouse          354.000000
Silla Gamer    480.500000
Teclado        530.285714
Webcam         340.000000
Name: Precio_Unitario, dtype: float64

In [11]:
# Ejercicio 2: An√°lisis del Clima
# Utilice el archivo clima.csv para analizar los datos clim√°ticos:
# 1.Cargue el dataset y convi√©rtelo en un DataFrame.

clima = pd.read_csv('clima.csv')
clima

          Fecha            Ciudad  Temperatura
0    2023-01-01            Bogot√°        25.84
1    2023-01-02          Santiago        14.75
2    2023-01-03            Madrid        15.91
3    2023-01-04            Madrid        12.10
4    2023-01-05  Ciudad de M√©xico        -3.98
..          ...               ...          ...
360  2023-12-27      Buenos Aires        -0.55
361  2023-12-28          Santiago        14.71
362  2023-12-29  Ciudad de M√©xico        -4.55
363  2023-12-30  Ciudad de M√©xico        13.75
364  2023-12-31  Ciudad de M√©xico        -2.75

[365 rows x 3 columns]

In [12]:
# 2.Calcule la temperatura promedio de cada ciudad.
clima_promedio = clima.groupby('Ciudad')['Temperatura'].mean()
clima_promedio

# Usamos mean() para calcular el promedio de temperatura por la agrupacion de ciudades

Ciudad
Bogot√°              14.650794
Buenos Aires        15.226571
Ciudad de M√©xico    17.250833
Madrid              13.870000
Santiago            13.993718
Name: Temperatura, dtype: float64

In [18]:
# 3.Determine el registro con la temperatura m√°s alta y el m√°s bajo en el dataset
registro_max = clima.loc[clima['Temperatura'].idxmax()]
registro_min = clima.loc[clima['Temperatura'].idxmin()]
registro_max


#conseguimos el indice maximo y mino del row por Temperatura

Fecha          2023-10-24
Ciudad             Madrid
Temperatura         34.62
Name: 296, dtype: object

In [19]:
registro_min

Fecha          2023-04-25
Ciudad             Madrid
Temperatura          -4.8
Name: 114, dtype: object

In [20]:
# 4. Identifique qu√© ciudad tuvo la temperatura m√°s alta y cu√°l la m√°s baja en todo el dataset.
ciudad_mas_caliente = registro_max['Ciudad']
ciudad_mas_fria = registro_min['Ciudad']
ciudad_mas_caliente

#Ya teniendo indices, solo se hacen la referencia con la ciudad.

'Madrid'

In [21]:
ciudad_mas_fria

'Madrid'

In [66]:
# 5.Encuentre cu√°ntos registros tienen una temperatura mayor a 30¬∞C.

temp_mayor_30 = clima[clima['Temperatura'] > 30].reset_index(drop=False)
temp_mayor_30

# filtramos todas las temperaturas mayor a 30, y hacemos reset el indice para reconocer la cantidad

    index       Fecha            Ciudad  Temperatura
0      10  2023-01-11            Madrid        31.30
1      18  2023-01-19          Santiago        32.19
2      24  2023-01-25  Ciudad de M√©xico        30.70
3      27  2023-01-28            Madrid        30.84
4      40  2023-02-10          Santiago        32.72
5      45  2023-02-15      Buenos Aires        33.87
6      46  2023-02-16            Bogot√°        33.50
7      56  2023-02-26            Madrid        31.33
8      60  2023-03-02            Bogot√°        34.43
9      84  2023-03-26  Ciudad de M√©xico        32.47
10     88  2023-03-30      Buenos Aires        31.99
11     89  2023-03-31            Madrid        30.09
12     97  2023-04-08  Ciudad de M√©xico        30.89
13     98  2023-04-09          Santiago        31.02
14    103  2023-04-14      Buenos Aires        30.88
15    104  2023-04-15  Ciudad de M√©xico        30.48
16    109  2023-04-20  Ciudad de M√©xico        30.94
17    132  2023-05-13      Buenos Aires        33.92
18    134  2023-05-15  Ciudad de M√©xico        30.68
19    146  2023-05-27            Bogot√°        32.62
20    147  2023-05-28      Buenos Aires        33.16
21    148  2023-05-29  Ciudad de M√©xico        31.59
22    151  2023-06-01          Santiago        32.13
23    153  2023-06-03      Buenos Aires        33.67
24    154  2023-06-04            Madrid        33.54
25    162  2023-06-12      Buenos Aires        32.45
26    167  2023-06-17  Ciudad de M√©xico        34.60
27    170  2023-06-20            Bogot√°        30.09
28    179  2023-06-29      Buenos Aires        31.53
29    186  2023-07-06      Buenos Aires        30.60
30    211  2023-07-31          Santiago        34.03
31    219  2023-08-08  Ciudad de M√©xico        33.51
32    230  2023-08-19            Bogot√°        33.19
33    264  2023-09-22          Santiago        32.61
34    270  2023-09-28  Ciudad de M√©xico        32.66
35    272  2023-09-30            Bogot√°        33.45
36    273  2023-10-01      Buenos Aires        31.21
37    289  2023-10-17            Bogot√°        30.10
38    296  2023-10-24            Madrid        34.62
39    301  2023-10-29          Santiago        32.23
40    307  2023-11-04          Santiago        31.10
41    311  2023-11-08          Santiago        30.82
42    314  2023-11-11            Madrid        31.22
43    317  2023-11-14            Madrid        33.00
44    318  2023-11-15            Madrid        33.02
45    333  2023-11-30            Madrid        30.51
46    347  2023-12-14            Bogot√°        34.47
47    351  2023-12-18            Madrid        32.89
48    352  2023-12-19      Buenos Aires        34.44
49    359  2023-12-26            Madrid        31.25

In [26]:
# 6.Cuenta cu√°ntos d√≠as en total hay registrados por cada ciudad.

dias_por_ciudad = clima['Ciudad'].value_counts()
dias_por_ciudad

# usamos value_counts para contar los valores de Ciudad

Ciudad
Madrid              82
Santiago            78
Ciudad de M√©xico    72
Buenos Aires        70
Bogot√°              63
Name: count, dtype: int64

In [30]:
# Ejercicio 3: Estad√≠sticas de Calificaciones
# Utilice el archivo calificaciones.csv para analizar el rendimiento de los estudiantes:

#1. Cargue el dataset y muestre las primeras filas.
calificaciones = pd.read_csv('calificaciones.csv')
calificaciones.head()

# head() nos ayuda imprimir los primeros 5 registros.

      Estudiante      Materia  Calificaci√≥n
0   Estudiante_7         Arte            99
1  Estudiante_51  Matem√°ticas            55
2  Estudiante_72  Matem√°ticas            58
3  Estudiante_42  Matem√°ticas            82
4  Estudiante_64       Ingl√©s            90

In [28]:
#2. Calcule el promedio de calificaciones por materia.
promedio_materia = calificaciones.groupby('Materia')['Calificaci√≥n'].mean()
promedio_materia

#similar a otros ejercicios, tenemos el promedio con mean() de las calificaciones de la agrupacion de materias

Materia
Arte           74.823529
Ciencias       73.712766
Historia       73.087379
Ingl√©s         72.740385
Matem√°ticas    73.659794
Name: Calificaci√≥n, dtype: float64

In [46]:
#3. Identifique el estudiante con el promedio m√°s alto.
promedio_lato = calificaciones.loc[calificaciones['Calificaci√≥n'].idxmax()]
estudiantes_promedio_alto = promedio_lato['Estudiante']
estudiantes_promedio_alto

#se filtra el nombre de estudiante por el indice del filtro de calificaciones

'Estudiante_7'

In [34]:
# 4. Agrupa las calificaciones por estudiante y calcule el promedio de cada uno.
estudiantes_promedio = calificaciones.groupby('Estudiante')['Calificaci√≥n'].mean()
estudiantes_promedio

# el promedio de calificaciones por la agrupacion de estudiantes

Estudiante
Estudiante_1      79.428571
Estudiante_10     80.600000
Estudiante_100    60.000000
Estudiante_11     75.000000
Estudiante_12     65.000000
                    ...
Estudiante_95     85.500000
Estudiante_96     59.500000
Estudiante_97     86.400000
Estudiante_98     76.571429
Estudiante_99     67.000000
Name: Calificaci√≥n, Length: 99, dtype: float64

In [51]:
# 5. Identifique cu√°ntos estudiantes tienen un promedio superior a 85.
estudiantes_sobresalientes = estudiantes_promedio[estudiantes_promedio > 85].count()
estudiantes_sobresalientes

# se cuentan cuantos estudiantes con la condicion > 85 hay en en el df

np.int64(5)

In [55]:
# 6. Encuentre la materia con la mayor cantidad de calificaciones registradas.
materia_mas_calificaciones = calificaciones['Materia'].value_counts().idxmax()
materia_mas_calificaciones

#Se consigue el indice de la materia con el value_counts()

'Ingl√©s'

In [67]:
# 7. Muestre los 5 estudiantes con el promedio m√°s bajo.
peores_estudiantes = estudiantes_promedio.sort_values().head()
peores_estudiantes

# se ordenan los valores y como esta descendiente por default, se usa head()

Estudiante
Estudiante_79    51.0
Estudiante_58    57.0
Estudiante_91    58.0
Estudiante_50    59.0
Estudiante_80    59.0
Name: Calificaci√≥n, dtype: float64